body {
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: auto; */
    font-family: outfit;
    overflow: hidden;
  }
  
  .containter  {
    position: relative;
  }

.bg-layer {
  position: absolute;
  background: linear-gradient(211.36deg, #41528E 36.99%, #1A99A2 77.91%);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-right: 100% solid transparent;
  mix-blend-mode: normal;
  transform: rotate(-179.9deg);
  clip-path: polygon(30% 100%, 100% 100%, 100% -80%);
}


  .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    background-color: white;
    border-radius: 10px;
  }